.workspace {
  margin-top: -94px;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
.workspace__menu {
  display: flex;
  margin-left: -30px;
}
.workspace__item {
  list-style: none;
  flex-basis: calc(100% / 3 - 30px);
  width: calc(100%);
  margin-left: 30px;
  position: relative;
}
.workspace__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-lite-color);
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  bottom: 0;
  width: 370px;
}
