:root {
  --main-color: #212121;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --text-color: #757575;
  --main-lite-color: #ffffff;
  --section-background-color: #2f303a;
  --btn-filter-background-color: #f5f4fa;
  --btn-hover-color: #188ce8;
  --icon-color: #afb1b8;
  --main-type: Roboto, sans-serif;
  --main-font-size: 14px;
}
